@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #000000;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  padding: 0;
  margin: 0;
}
.fill-color {
  color: rgb(255, 255, 255, 0.5);
}
.nav-bar {
  margin: 52px 196px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid wheat; */
}

.menu-text ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  /* align-items: start; */
  gap: 50px;
  border: 1px solid rgb(255, 255, 255, 0.1);
  border-radius: 25px;
  color: white;
  /* margin: 0px; */
  padding: 2px;
}

.home {
  background-color: #e6533c;
  border-radius: 25px;
  padding: 2px 4px;
}
.about {
  padding: 0px 15px;
}
.mobile {
  color: white;
  display: none;
}
.hero-bac {
  /* background: rgba(255, 255, 255, 0.01); */
  background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(10, 10, 10));
  /* padding: 10px 0px; */
  padding-bottom: 10px;
}

.hero {
  margin: 52px 196px;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  /* border: 2px solid red; */
  background-color: transparent;
}
@font-face {
  font-family: "miama";
  src: url(miama/Miama.ttf);
}

.hero-text {
  color: white;
  width: 50%;
  background-color: transparent;
}
.hero-title {
  font-size: 78px;
  font-weight: bold;
}
.shape {
  font-family: "miama", sans-serif;
  font-weight: 400;
}
.hero-description {
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
}
.hero-right-side {
  background-image: url("./images/Images2.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 50%;
  position: relative;
}
.hero-btn {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.hero-button {
  color: white;
  background-color: #e6533c;
  width: 224px;
  border-radius: 42px;
  padding: 10px 10px;
}

.hero-right-side-text {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  /* border: 3px solid #ffffff; */
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translate(-50%, -50%);
  /* width: 80%; */
  padding: 20px;
  /* text-align: center; */
  border-radius: 24px;
}
.hero-right-side-text p {
  background-color: transparent;
  margin: 0;
  padding: 0;
  white-space: no-wrap;
}

.change-habit {
  color: #ffffff;
  text-align: center;
}
.change-habit > p:first-child {
  font-size: 48px;
  font-weight: 800;
}
.change-habit-features {
  margin: 52px 196px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
}
.change-habit-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 25%;
  font-size: 18px;
  font-weight: 600;
}
.change-habit-feature img {
  border-radius: 50%;
  text-align: center;
}
.change-habit-feature > p:nth-child(odd) {
  font-size: 14px;
}

.run-extra {
  margin: 52px 196px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
  background-color: #222222;
  border-radius: 18px;
  gap: 100px;
}
.run-extra-left {
  width: 50%;
  color: #ffffff;
  font-size: 48px;
}
.run-extra-left p {
  margin: 0;
  padding: 0;
}
.run-extra-right {
  width: 50%;
}
.run-extra-right img {
  border-radius: 18px;
  max-height: 100%;
  max-width: 100%;
}
.bmi {
  background-color: #222222;
  padding: 10px;
}
.bmi-container {
  margin: 52px 196px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}
.bmi-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
.bmi-left p {
  font-size: 28px;
  font-weight: 600;
}
.bmi-right {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.bmi-right p {
  font-size: 28px;
  font-weight: 600;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
input::-webkit-calendar-picker-indicator {
  opacity: 100;
}

input {
  /* width: 50%; */
  padding: 6px 10px;
  margin: 4px 0;
  /* display: inline-block; */
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  border: none;
  /* box-sizing: border-box; */
  background-color: rgb(255, 255, 255, 0.1);
}

@media screen and (max-width: 425px) {
  input {
    width: 40%;
    padding: 6px 10px;
    margin: 4px 0;
    /* display: inline-block; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    border: none;
    /* box-sizing: border-box; */
    background-color: rgb(255, 255, 255, 0.1);
  }
  .sp-input {
    width: 88%;
  }
  .bmi-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
  }
  .btn {
    width: 100%;
  }
  .run-extra-left {
    width: 100%;
    font-size: 32px;
  }
  .run-extra-right {
    width: 100%;
  }
  .run-extra {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
  }
  .change-habit-feature {
    width: 100%;
  }
  .change-habit-features {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .change-habit > p:first-child {
    font-size: 32px;
    font-weight: 600;
  }
  .mobile {
    display: flex;
  }
  * {
    margin: 10px;
  }
  .nav-bar {
    margin: 0px;
  }
  .menu-text {
    display: none;
  }
  .hero {
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  .hero-title {
    font-size: 40px;
    font-weight: bold;
  }
  .hero-text {
    width: 100%;
  }
  .hero-right-side {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;
  }
  .hero-right-side-text {
    position: absolute;
    top: 20%;
    left: 70%;
  }
}
